html {
  height: 100%;
}
body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  height: 100vh;
}
#artboard {
  background-color: black;
  margin: 100px auto;
  position: relative;
}
.imageLayer {
  position: absolute;
}